# Development tests for gcam_reader components
These are meant for diagnosing problems during development.  As such, they are neither permanent nor comprehensive.  Generally they reflect whatever was a pain to get working during the last development iteration.  Real tests are in the `tests/` subdir.

In [1]:
dbpath = "../testdata"

In [2]:
dbfile = "sample_basexdb"

In [3]:
import connections as conn
import query
import pandas as pd
import sys
import os.path

In [4]:
lcon = conn.LocalDBConn(dbpath, dbfile, suppress_gabble=False)

In [5]:
queries = query.parse_batch_query(os.path.join('..','testdata','sample-queries.xml'))

In [6]:
[q.title for q in queries]

['CO2 concentrations',
 'Climate forcing',
 'Global mean temperature',
 'GDP by region',
 'PPP GDP by region',
 'Population by region',
 'Aggregated Land Allocation',
 'Building floorspace',
 'Land Allocation']

In [7]:
gdp_query = queries[3]
co2_query = queries[0]

In [8]:
print(gdp_query.title)
print(gdp_query.querystr)

GDP by region
<gdpQueryBuilder title="GDP by region">
            <axis1 name="region">region</axis1>
            <axis2 name="Year">gdp-mer</axis2>
            <xPath buildList="true" dataName="gdp-mer" group="false" sumAll="false">GDP/gdp-mer/text()</xPath>
            <comments />
         </gdpQueryBuilder>

In [9]:
rslt = lcon.runQuery(gdp_query)

In [10]:
rslt

,Units,scenario,region,Year,value
0,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,1975,3633500.0
1,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,1990,6045970.0
2,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2005,9610760.0
3,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2010,9974570.0
4,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2015,11038800.0
5,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2020,12481100.0
6,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2025,13984700.0
7,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2030,15360300.0
8,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2035,16621300.0
9,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2040,17815200.0
10,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2045,18943100.0
11,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2050,19982200.0
12,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2055,21026500.0
13,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2060,22123600.0
14,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2065,23270700.0
15,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2070,24371700.0
16,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2075,25418400.0
17,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2080,26470500.0
18,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2085,27472500.0
19,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2090,28434000.0
20,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2095,29363000.0
21,Million1990US$,"Reference-filtered,date=2016-13-12T05:31:05-08:00",USA,2100,30255100.0

In [11]:
rcom = conn.RemoteDBConn("sample_basexdb", "test", "test")

In [12]:
rslt_remote = rcom.runQuery(co2_query)

In [13]:
rslt_remote

   Units                                           scenario  Year    value
0    PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  1975    0.000
1    PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  1980  331.168
2    PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  1985  338.288
3    PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  1990  346.328
4    PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  1995  355.306
5    PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2000  364.147
6    PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2005  372.824
7    PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2010  383.269
8    PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2015  394.158
9    PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2020  406.584
10   PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2025  420.558
11   PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2030  436.009
12   PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2035  452.618
13   PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2040  470.126
14   PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2045  488.430
15   PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2050  507.433
16   PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2055  527.169
17   PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2060  547.744
18   PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2065  569.203
19   PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2070  591.571
20   PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2075  614.642
21   PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2080  638.131
22   PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2085  662.338
23   PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2090  687.540
24   PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2095  713.172
25   PPM  Reference-filtered,date=2016-13-12T05:31:05-08:00  2100  738.939